<header>
<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="#!">Logo</a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a href="#!">Home</a>
        </li>
        <li>
          <a href="#!">Recipe</a>
          <ul class="nav-dropdown">
            <li>
              <a href="/r-macaron">Macaron</a>
            </li>
            <li>
              <a href="#!">Eclair</a>
            </li>
            <li>
              <a href="#!">Pie</a></li>
            <li> <a href="#!">Croissant</a></li>
            <li><a href="#!">Berliner</a></li>
            <li><a href="#!">Berliner</a></li>
          </ul>
        </li>
        <li>
          <a href="/lesson">Lessons</a></li>
        <li>
          <a href="/history">History</a></li>
        <li>
          <a href="/aboutus">About us</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
</header>