<header>
<section class="navigation">
  <div class="nav-container">
    <div class="brand">
     
      <img src="/images/Sweetie-Life-Logo_Original.png">
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="#">Recipe</a>
          <ul class="nav-dropdown">
            <li>
              <a href="/r-macaron">Macaron</a>
            </li>
            <li>
              <a href="/r-eclair">Eclair</a>
            </li>
            <li>
              <a href="/r-pie">Pie</a>
            </li>
            <li>
              <a href="/r-croissant">Croissant</a>
            </li>
            <li>
              <a href="/r-cannoli">Cannoli</a>
            </li>
            <li>
              <a href="/r-berliner">Berliner</a>
            </li>
            <li>
          </ul>
        </li>
        <li>
          <a href="/lessons">Lessons</a></li>
        <li>
          <a href="/history">History</a></li>
        <li>
          <a href="/aboutus">About us</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
</header>