html,body {
    height: 100%;
    width: 100%;
    margin:0;
   
  }
 
 video,img{
    max-width:100%
  }

  footer{
    background:#ffc6e8;
    height:100px;
  }
  footer li {
    list-style: none;
    text-align: left;
    padding: 10px;
    position:relative;
    top:20px;
   }
  
  .w50{
  width:50%;
  
  }
 
  /* logo end */
  .p40{
    padding:0 40px;
    
  }
  .container{
    max-width: 1400px;
    margin: 0 auto;

  }
  .title{
padding:0 40px;
   justify-content: left;
  }
  .home_container{
    padding:0 40px;
    justify-content: center;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-gap:auto;
    
  }

  .hero{
  margin:0 auto;
  padding: 20px 40px 20px 40px;
  max-width:100%;
  background-color:#EEC7DF;
  font-size:20px;
  display:flex;
  flex-direction:row;
  flex-wrap: nowrap;
  }
  .herotext{
  width: 40%;
  display:center;
  justify-content:center;
  padding:10px 40px 10px;
  }
  .videocontent{
    object-fit: fill;
  }
  .video{
    width: 100%;
    height: 100%;

  }
  
  .lesson{
    margin:0 auto;
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    padding:40px;
  }
  .lessoncard{
    /*padding:10px;*/
    flex-direction:column;
  }
  
  .search{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:40px;
  }
  .btn{
    color:#ffffff;
    background:pink;
    border:none;
    width:80px; height: 40px;
     border-radius:5px;
  }
   input {
              font-size:20px;
          }
  

          