//*Title of the page*//
.pastry-lessons{
  text-align: center;
  margin-top: 5rem;
} 

.max1400{
  max-width: 1400px;
  margin: 0 auto;
}





//*Monthly Lessons*//

.lesson1{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  // background-color: #ffc6e8;
  margin-bottom: 10rem;
  text-align: center;
}
 
img{
  max-width: 100%;
} 

.lessoncard1{
  //flex-basis: 195%;
}


.monthly-text{
  text-align: center;

}


 //*Yearly Lesson*//
 
.yearly{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  // background-color: #ffc6e8;
  margin-bottom: 10rem;
  text-align: center;
}
 
img{
  max-width: 100%;
} 

.lessoncard2{
  //flex-basis: 300%;
}

.yearly-text{
  text-align: center;
}
//*Buy Button*//

.buybtn {
  display: block;
  background-color: #744737;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 50px;
  width: 100px;
  height: 30px;
  // margin-left: 330px;
  margin: 0 auto;
}




//*Media*//
@media screen and (min-width: 500px){

}


@media screen and (min-width: 1200px){
  .lesson1{
    text-align: center;
    display: flex;
  }

  .yearly{
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: #ffc6e8;
    margin-bottom: 10rem;
  }

  .monthly-text{
  margin-left: 3rem;
  margin-right: 3rem;
  }

  .yearly-text{
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .buybtn {
    display: block;
    background-color: #744737;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 50px;
    width: 100px;
    height: 30px;
    
  }
}













