//*Title of the page*//
.pastry-lessons{
  text-align: center;
  margin-top: 5rem;
} 

.max1400{
  max-width: 1400px;
  margin: 0 auto;
}





//*Monthly Lessons*//

.lesson1{
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #ffc6e8;
  margin-bottom: 10rem;
}
 
img{
  max-width: 100%;
} 

.lessoncard1{
  flex-basis: 195%;
}


.monthly-text{
  text-align: center;
  margin-left: 3rem;
  margin-right: 3rem;
}



//*Monthly Lesson Media*//

@media screen and (min-width: 1200px){

}


@media screen and (min-width: 500px){

}




 //*Yearly Lesson*//
 
.yearly{
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #ffc6e8;
  margin-bottom: 10rem;
}
 
img{
  max-width: 100%;
} 

.lessoncard2{
  flex-basis: 300%;
}

.yearly-text{
  text-align: center;
  margin-left: 4rem;
  margin-right: 4rem;
}







//*Buy Button*//

.buybtn {
  display: block;
  background-color: #744737;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 50px;
  width: 100px;
  height: 30px;
  margin-left: 330px;
}










