header{
  background-color:#000000;
  height:150px;
  width:auto;
  }
  #logo{
  position:absolute;
  top:40px;
  }
  .navitem{
  position:absolute;
  top:100px;
  right:100px;
  }
  
  
   nav li {
  display:inline-block;
  margin:20px;
  font-size:20px;
  color:#fff;
  }
  
  nav a{
  font-size:20px;
  color:#fff;
  }
  footer{
  background-color:#000000;
  height:100px;
  width:auto; 
  }
  