/*recipe*/


.recipeherobanner{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
     padding:40px
   }
   .recipeheretext{
   
   flex-wrap: wrap;
   display:center;
   justify-content:center;
   padding:40px;
   
   }