*{ 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -icab-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  box-sizing: border-box;  }

@media only screen and (max-width: 768px) {
  .hero{
   display:block;
  //  width:100%
  }
.herotext{

padding:40px;
}
.w50{
  width:80%;
}

}

@media only screen and (max-width: 499px) {
  
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}


@media screen and (min-width: 500px) {
  video,img{
    max-width:100%
  }
  .nav-list {
    display: block !important;
  }

}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 18px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 25px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

.home_container {
  
  /*margin: 0 auto;*/
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));  
  justify-content:center;
}
.lesson{
  display: grid;
  /*grid-gap: 1rem;*/
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));  
  justify-content:center;
}
.card{
  width:100%;
}