/*  ==========================
    BASE TYPOGRAPHY
    This is added as a template to help start. 
    You should change the fonts, font-sizes and anything else appropriate for your site.
    ========================== */

/* Optional, include a web font. @import must come before other styles. */
@import url("https://use.typekit.net/dqq2rvm.css");
/*@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,500');*/


/* The html and body selectors below set the base type for the entire page */

  
  
  
  
  /* This adds space between paragraphs and list items*/
  /* NOTE: most Navigations use list items so you will need to */
  /* explicity set the margins on those so this rule doesn't */
  /* mess up your navigation styling */
 
  
  
  /* Base Styling for headings.
    You can and should modify these to fit your site*/
  /*h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    
    font-family: bely-display, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  */
  
  /* For each of your headings at minimum set the margin, size, line-height. 
  Adjust font-weight and other properties as needed. */
  
  h1{
    color:#744737;
    font-family: bely-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:20px;
    
  }
  
  h2{
    font-family: bely-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:15px;
    color:#A7664E;
  }
 h3{
  font-family:"bely";
  font-style: normal;
  font-size:12px;
  color:#333333;
 }
 .credit{
  font-style: normal;
  font-size:12px;
  color:#a7a7a7;
 }
 
 .credit a{
  color:pink;
 }
 .name{
   color:white;
  
 }
  p{
    font-family: bely, serif;
    font-weight: 400;
    font-style: normal;
    font-size:10px;
    color:#333333;
  }
  @media screen and (min-width: 500px){
    h1{
      font-size:36px;  
    }
    h2{
      font-size:28px;  
    }
    h3{
      font-size:18px;
     }
    p{
      font-size:18px;
    }
  }
  
  @media screen and (min-width: 1200px){
    h1{
      font-size:40px;  
    }
    h2{
      font-size:32px;  
    }
    h3{
      font-size:18px;
     }
    p{
      font-size:22px;
    }
   
  }