@use 'homelayout';
@use 'nav-new';
@use 'responsive';
@use 'recipe';
@use 'historyaboutus';
@use 'lessons';
@use 'typography';
// If you add another partial then make sure to:
//    1. Put an underscore _ at the beginning of the name and end with .scss
//    2. add an @use above to include it. DO not add the .scss

/* ================= ===========================
  ADD YOUR CSS HERE 
  ================================================ */


